@use "../abstracts";

.dropdown {
  position: absolute;
  left: 0;
  padding-top: 54px;
  // Để không có cuộn ngang khi thu nhỏ screen thì dùng hàm min()
  width: min(1240px, 100%);
  display: none;

  &__inner {
    // Do inner là thẻ cha của top-menu nên tại top-menu có thể dùng lại được
    // --inner-max-height: min(582px, 100vh - 158px);
    --inner-padding: 30px;
    position: relative;
    // Để giải quyết vấn đề khi height của màn hình nhỏ hơn 582px thì hiển thị cuộn dọc => để bỏ hiển thị cuộn dọc thì xử lý bằng hàm min()
    // height: 582px;
    // Để không hiển thị dropdown có phần trắng thừa nếu nhở hơn height thì dùng max-height
    padding: 30px;
    border-radius: 20px;
    background: var(--dropdown-bg-color);
    box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);

    // Tạo mũi tên cho dropdown
    &::before {
      // Vị trí ảnh ở file css
      content: url("../icons/dropdown-arrow.svg");
      position: absolute;
      top: -13px;
      left: var(--arrow-left-pos);
      translate: -50%;
      // Thay đổi mũi tên cho dark
      filter: var(--dropdown-arrow-color);
    }
  }
}

.top-menu {
  --main-column-width: 292px;
  --max-inner-height: calc(min(582px, 100vh - 158px) - var(--inner-padding)*2 + 1px);
  position: relative;

  &__main {
    height: var(--max-inner-height);
    width: var(--main-column-width);
    border-right: 1px solid var(--top-menu-border-color);
    // Lưu ý: không thể dùng overflow auto cho height là dạng % mà phải dùng px
    overflow-y: auto;
  }
}

.menu-column {
  display: flex;
  gap: 14px;

  // .menu-column + .menu-column
  + .menu-column {
    margin-top: var(--inner-padding);
  }

  &__icon {
    position: relative;
    // Khi text bên phải dài sẽ làm hình bị méo nên thêm vào
    flex-shrink: 0;
    width: 36px;
    height: 36px;

    @include abstracts.breakpoint(xl) {
      display: none;
    }
  }

  &__content {
    // phần content chiếm hết phần còn lại
    flex: 1;
  }

  &__icon-1 {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }

  &__icon-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    object-fit: cover;
    filter: var(--menu-column-icon-color);
  }

  &__heading {
    margin-top: 4px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5; /* 150% */
  }

  &__list {
    margin-top: 19px;
  }

  &__item {
    &--active .sub-menu {
      display: grid;
    }
  }

  &__item--active > &__link,
  &__item:hover > &__link {
    color: #0071dc;
    font-weight: 500;
  }

  &__link {
    display: block;
    padding: 7px 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43; /* 142.857% */

    &:hover {
        color: #0071dc;
        font-weight: 500;
    }
  }
}

.sub-menu {
  position: absolute;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  inset: 0 0 0 var(--main-column-width);
  padding-left: var(--inner-padding);
  gap: var(--inner-padding);
  // Mình không cần giới hạn height => vì cách top: 0 và bottom: 0 là cũng là cách set height rồi
  overflow-y: auto;

  &--not-main {
    position: initial;
    display: grid;
    inset: initial;
    grid-template-columns: repeat(4, 1fr);
    height: var(--max-inner-height);
    padding-left: 0;
  }
}
